$colors: (
  'primary': #a21016,
  'light': #ffede6,
  'medium': #d6d6d6,
  'dark': #222222,
  'white': #ffffff,
  'grey': #333333,
  'black': #000000,
);

:root {
  @each $key, $val in $colors {
    --#{$key}: #{$val};
  }
}

@each $key, $_ in $colors {
  .text-#{$key} {
    color: var(--#{$key});
  }
  .bg-#{$key} {
    background-color: var(--#{$key});
  }
}
