@import 'primeflex/primeflex';
@import 'general';

// slide page transition
.slide-right-leave-to,
.slide-left-enter-from {
  opacity: 0;
  transform: translateX(100%);
}

.slide-right-enter-from,
.slide-left-leave-to {
  opacity: 0;
  transform: translateX(-100%);
}

.slide-right-enter-active,
.slide-left-enter-active,
.slide-right-leave-active,
.slide-left-leave-active {
  transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out;
}

// fade page transition
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

// about page
body::before {
  content: '';
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 0;
  height: 100vh;
  background-color: var(--grey);

  transition: width 0.5s ease-in-out;

  @media screen and (max-width: 768px) {
    position: absolute;
    width: 100vw;
    height: 0;
  }
}
body.page-about-me::before {
  width: 50%;

  @media screen and (max-width: 768px) {
    width: 100vw;
    height: 80vh;
  }
}
